#.exe é uma extensão falsa utilizada no macro gcc para poder se ter uma indentificação no .gitignore e dentro da pasta do Sublime, e assim não repassar para frente arquivos binários
*.exe

#teste será qualquer arquivo utilizado pelos desenvolvedores
*teste*
