# Don't upload the binary executable, the user needs to compile the program using make.sh or cmake
sgbd

# Tables created
tables/*
# Except for listOfTables
!tables/listOfTables.txt

# Any test
test*

# File used to track commit progress
commitLog.txt



CMakeCache*
cmake_install.cmake
CMakeFiles/
Makefile