# Don't upload the binary executable, the user needs to compile the program using make.sh or cmake
sgbd

# Tables created
tables/*
# Except for listOfTables
!tables/listOfTables.txt

# Any test
test*

# To do:
# todo.txt

# Cmake files
cmake*
CMake*
Makefile
!CMakeLists.txt
!cmakeclean.sh 
